<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>Gpsy</title>
  </head>
  <body>
    <h1>Gpsy</h1>
    <%= yield %>
    <hr />
    <p class="footer"><small>Powered by DataMapper and Sinatra</small></p>
  </body>
</html>
